<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Kingdom</title>
    <link rel="stylesheet" href="css/kingdom_style.css">
    <link rel="stylesheet" href="css/popup_style.css">
    <script defer src="js/kingdom.js"></script>
</head>
<body>
<header>
    <h1 id="header-text">Your Kingdom</h1>
</header>
<main>
    <div id="resources"></div>
    <div id="menu">
        <button id="logout">Logout</button>
    </div>
    <div id="buildings">
        <div id="background"></div>
    </div>
    <div id="troops"></div>
</main>
<footer>
</footer>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
    </div>
</div>
</body>
</html>